.marquee{
	width: 100%;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	overflow: hidden;
}
.marquee__content{
	display: flex;
	padding: 10px 0;
	animation: scrolling 40s linear infinite;
}
.marquee__item{
	color: aliceblue;
	font-family: var(--type-title);
	font-size: 20px;
	font-weight: 700;

	flex-shrink: 0;

	text-transform: uppercase;
	padding-left: 5px;
}

@keyframes scrolling {
	from { transform: translateX(0)}
	to{ transform: translateX(-100%)}
}