.fragment-card-ul{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16.25em, 1fr));
	place-items: center;
	gap: 1em;
}

.fragment-card-container{}
.fragment-card-article{
	padding: 1em 0;
	position: relative;
	overflow: hidden;
}
.fragment-card-data{
	background-color: var(--color-c);
	box-shadow: 0 .5em 1.5em var(--color-d);
	border-radius: 1em;
	
	position: absolute;
	bottom: -7em;
	left: 0;
	right: 0;
	margin-inline: auto;
	opacity: 0;
	transition: opacity 1s 1s;

	width: 240px;
	padding: 1.5rem 2rem;
}
.fragment-card-title{
	color: var(--color-b);
	font-family: var(--type-title);
	font-size: clamp(.875rem, 1vw, 1.0625rem);
	font-weight: 700;
	letter-spacing:1px;
	text-transform: uppercase;
	text-align: center;

}
.fragment-card-button{
	color: var(--color-d);
	font-size: clamp(.875rem, 1vw, 1rem);
	font-weight: 700;
	padding-top: 15px;
	text-transform: uppercase;
}
.fragment-card-button:hover{
	text-decoration: underline;
	font-style: italic;
}

.fragment-card-img{
	border-radius: .625em;
	width: 16.25em;
	height: 24.375em;
}

.fragment-card-article:hover .fragment-card-data{
	animation: show-dara 1s forwards;
	opacity: 1;
	transition: opacity .3s;
}

.fragment-card-article:hover{
	animation: remove-overflow 2s forwards;
}

.fragment-card-article:not(:hover){
	animation: remove-overflow 2s forwards;
}
.fragment-card-article:not(:hover) .fragment-card-data{
	animation: remove-data 1s forwards;
}

@keyframes show-dara{
	50%{
		transform: translateY(-10em);
	}
	100%{
		transform: translateY(-7em);
	}
}
@keyframes remove-overflow{
	to{
		overflow: initial;
	}
}
@keyframes remove-data{
	0%{
		transform: translateY(-7em);
	}
	50%{
		transform: translateY(-10em);
	}
	100%{
		transform: translateY(.5em);
	}
}

@keyframes show-overflow{
	0%{
		overflow: initial;
		pointer-events: none;
	}
	50%{
		overflow: hidden;
	}
}