.card{
	display: grid;
	flex: none;
	grid-template-columns: repeat(3, nmax(300px, 1fr));
  grid-template-rows: repeat(2, 260px);
	place-items: center;
	gap: 1em;
	width: 100%;
}
.card__container{
	position: relative;
	width: 100%;
	height: 100%;
}

.card__container:first-child{
	grid-column-start: 1;
	grid-column-end: 3;
}

.card__article{
	padding: 1em 0;
	background: #191818bc;
	border: solid 2px #191818bc;
	border-radius: 15px;
	
	width: 100%;
	height: 100%;

	transition-duration: .3s;
	transition-timing-function: ease-in-out;

}
.card__content-img{
	width: 100%;
	height: 100%;
}
.card__img{
	width: 100%;
	height: 100%;
	border-radius: 15px;
	object-fit: cover;
	object-position: 50% 45%;
	opacity: .5;

	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

.card__data{
	color: var(--color-f4);
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	position: absolute;
	
	top: 0;
	left: 0;
	right:0; 
	bottom: 0;
	margin:auto;

}

.card__title{
	font-family: var(--type-title);
	font-size: clamp(16px, 1vw, 80px);
	font-weight: 800;
	letter-spacing:1px;
	text-transform: uppercase;
	text-align: center;
}

.card__button{
	font-size: clamp(.875rem, 1vw, 1rem);
	/* font-weight: 700; */
	/* padding-top: 1em; */
	text-transform: uppercase;
}
.card__button:hover{
	text-decoration: underline;
}

.card__article:hover{
	scale: 1.04;
}