.header{
	color: var(--color-b);
	background-color: var(--color-a);
	box-shadow: 0 .125em .625em 0 var(--color-d), 0 .125em .3125em 0 var(--color-c);

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;
	left:0;
	padding: 0.85em 5%;
	z-index: 3;
	width: 100%;
}

.header-menu{
	display: none;
	cursor: pointer;
}
.header-menu-svg{ 
	width: 2em;
	height: 2em;
}
.header-nav{}
.header-ul{
	font-family: var(--type-title);
	font-weight: 600;
	font-size: .9375rem;

	display:flex;
	flex-flow: row nowrap;
	justify-content:flex-end;
	align-items:center;

	padding:0 1em;
}

.header-ul-li{
	text-transform:uppercase;
	letter-spacing: .125rem;
	margin: 0 0.5em;
}
