.about{
  background: linear-gradient(to bottom, var(--color-a), var(--color-logo-dark));
}

.section-heroe{
  padding: 10em 3.5em;
  position: relative;
}
.heroe-big{
  background: var(--color-d);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
}

.heroe-big-img{
  width: 100%;
  height: 101%;
  opacity: .6;
  object-fit: cover;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

.heroe-paragraph{
  color: var(--color-b);
  width: 100%;
  max-width: clamp(100%, 50rem);
  
}
.heroe-paragraph-title{
  font-family:var(--type-title);
  font-size: clamp(2.25rem, 5vw, 9.75rem);
  font-weight: 800;
  line-height: 1.5em;
  letter-spacing: .3125rem;
  text-transform: uppercase;
  
  opacity: .99;
  max-width: 8em;
}


.section-about-intro{
  padding: 10% 5%;
}

.about-intro-text{
  text-align: center;
  color: var(--color-f);
  font-family: var(--type-title);
  font-size: clamp(1.125rem, 3vw, 2rem);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.75rem;
  letter-spacing: .0625rem;
}
.about-article{
  padding-top: 3em;
  letter-spacing: .0625rem;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: start;
  gap: 1em;
}
.about-article-header{
  line-height: 3rem;
  padding-bottom: 0.5em;
  border-bottom: 2px solid var(--color-b);
  height: 100%; 
}
.about-article-header-title{
  color: var(--color-f);
  text-align: center;
  font-family: var(--type-title);
  font-size: clamp(1.25rem, 4.5vw, 4.5rem);
  font-weight: 900;
  text-transform: uppercase;
}
.about-article-section{
  color: var(--color-c);
  font-size: clamp(16px, 2vw, 20px);
}
.about-article-section--line{
  border-bottom: 2px solid var(--color-b);
}
.about-article-section-p{
  padding-bottom: 1em;
}
.about-article-footer-img{
  box-shadow: 3px 3px 8px 2px var(--color-c);
  border-radius: .625em;
  height: 30vh;
  margin-top: 20%;
  /* grid-column: 2/ span 2; */
  /* grid-column-start: ; */
}



.page-about-section-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding:2em 3em;
}

.page-about-section-intro-h2{
  color: var(--color-text-title);
  font-size: 4rem;
  font-weight: 800;
  text-align:center;
  text-transform: uppercase;
  padding: 1em 0;
}

.page-about-section-intro-div{
  color: var(--color-text-paragraph);
  display: grid;
  grid-template-columns: auto 10px auto;
  gap: 1em;
  width: 100%;
}

.page-about-section-intro-div-bar{
  background-color: rgb(235, 229, 220);
  border-radius: 10px;
  width: 5px;
  height: 100%;
}

.page-about-section-intro-div-group-p{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  
}

.page-about-section-intro-div-p{
  color: var(--color-text-services-span);
  letter-spacing: 1px;
}

.page-about-section-mission{
  /* background: linear-gradient(rgba(255, 255, 255, 0.79), rgba(183, 167, 151, 0.79)); */
  display:grid;
  grid-template-columns: 50% 50%; 
  justify-content:center;
  align-items:center;
  gap:1em;
  padding: 0 2em;
}

.page-about-section-missionVision{
  /* background: linear-gradient(rgba(183, 167, 151, 0.79), rgba(255, 255, 255, 0.79)); */
  display:grid;
  grid-template-columns: 50% 50%; 
  justify-content:center;
  align-items:center;
  gap:1em;
  padding: 2em;
}

.page-about-section-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-about-section-div-h3{
  color: var(--color-text-paragraph-context);
  font-family:var(--second-type);
  font-size:4rem;
  font-weight:700;
  text-transform:uppercase;

  padding: 0.75em 0;
}

.page-about-section-div-p{
  color: var(--color-text-services-span);
  padding:0.5em;
  letter-spacing: 1px;
}

.page-about-section-img{
  border-radius: .3125em;
  box-shadow: -0.605em .605em 1em var(--color-box-shadow);
  
  width:100%;
  height: 70%;
}

.page-about-section-phrase{
  background-color: rgba(183, 167, 151, 0.79);
  color: var(--color-text-paragraph-card);
  display:grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items:center;
  gap:0.5em;

  padding: 2em;
}

.page-about-section-phrase-div{}

.page-about-section-phrase-h2 span{
  font-size: 1.7rem;
  font-weight: 700;
  font-family: var(--font-family-phrase);
  padding: 0 0.25em;
}

.page-about-section-phrase-h2{
  color: var(--color-text-image);
  font-family: var(--second-type);
  font-style:italic;
  font-size:1.5rem;
  letter-spacing: 1px;
  width:100%;
  height: 100%;
  padding: 1em 0;
  
}

.page-about-section-phrase-p{
  color: var(--color-light-gray);
  font-size: .875rem;
  text-transform: capitalize;
  text-align:end;
  letter-spacing: 1px;
}

.page-about-section-phrase-img{
  border-radius: .3125em;
  box-shadow: -0.605em .605em 1em var(--color-box-shadow);
  width:100%;
  height:200px;
}

.page-about-section-partners{
  padding-top: 1em;
  padding-bottom: 2em;

}

.page-about-section-partners-h3{
  font-family:var(--second-type);
  color: var(--color-text-paragraph-context);
  font-size:4rem;
  font-weight:700;
  text-transform:uppercase;
  text-align:center;
  padding: 1em 0;

}

.page-about-section-div-partners{
  width: 100%;
  overflow: hidden;
}