.main{}
/*SECTION-COVER*/
.section-front{
  background-image: url('../assets/img-content/Private-security.jpg');
  background-position: center;
  background-size: cover;
  color: var(--color-b);
  opacity: 0.93;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  
  width: 100%;
  max-width: 100%;
  min-width: 20em;
  height: 90vh;
  position: relative;
  padding: 0 5%;
}

.section-front-h1{  
  font-size: clamp(2rem, 1.2vw, 3rem);
  font-weight: 900;
  letter-spacing: .0625rem;
  line-height: 1.75em;
  text-transform: uppercase;
}
.section-front-p{  
  font-weight: 700;
  font-size: clamp(.9375rem, 1vw, 1.25rem);
  text-transform: uppercase;
  letter-spacing: .0625rem;
}
.section-front-text{
  font-weight: 700;
  font-size: clamp(.9375rem, 1.2vw, 1.5rem);
  letter-spacing: .0625rem;
}
.section-front-button{
  border: .125em solid var(--color-b);
  border-radius: 2.1875em;
  cursor: pointer;
  font-family: var(--type-title);
  font-size: clamp(.875rem, 1.1vw, 1.25rem);
  font-weight: 700;
  letter-spacing: .0625rem;
  text-transform: uppercase;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  
  padding: .5em 0;
  margin-top: 1em;
  max-width: 10.9375em;

}
.section-front-button spang{
  font-size: 1.875rem;
  line-height: .9375em;
}

.btn-animation {
  border-radius: 2.1875em;

  transition: all 0.5s;
  position: relative;
}
.btn-animation::before {
  border-radius: 2.1875em;

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.183);
  transition: all 0.3s;
}
.btn-animation:hover::before {
  border-radius: 2.1875em;

  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-animation::after {
  border-radius: 2.1875em;

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: .0625em solid rgba(255, 255, 255, 0.594);
  transform: scale(1.2,1.2);
}
.btn-animation:hover::after {
  opacity: 0.33;
  transform: scale(1, 1);
}


/*SECTION-LEGEND*/
.section-legend{
  padding: 5% 10%;
} 

.section-legend-article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  text-align: center;
  width:100%;
}

.legend-article-header{
  font-family: var(--type-title);
  line-height: 1.5rem;
  letter-spacing: .0625rem;
  padding: 1em 0;
}

.section-legend-title{
  color: var(--color-e);
  font-size: clamp(1.125rem, 3vw, 2rem);
  font-weight: 700;
  text-transform: uppercase;
}

.section-legend-subtitle{
  color: var(--color-d);
  font-size: clamp(.875rem, 2vw, 1.25rem);
  padding-top: 1rem;
}

.section-ul{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625em, 1fr));
  place-items: center;
  gap: 1em;
    
}

.article{
  padding: 1em 0;
  width: 16.25rem;
}

.article-img{
  width:4.6875rem;
  background: var(--color-c);
  padding: .625rem;
  border-radius: 50%;
}

.article-title{
  font-size: clamp(.9375rem, 1vw, 1.125rem);
  color: var(--color-e);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .0625rem;
}

.article-text{
  color: var(--color-d);
  padding-top: 0.5em;
  letter-spacing: .0625rem;
  font-size: clamp(.875rem, 1vw, 1.1875rem);
}

.article-link{
  border: .125rem solid var(--color-b);
  border-radius: 2.1875rem;
  color: var(--color-b);
  cursor: pointer;
  font-family: var(--type-title);
  font-size: clamp(.875rem, 1vw, 1.125rem);
  font-weight: 700;
  letter-spacing: .0625rem;
  text-transform: uppercase;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  
  padding: .5em 1em;
  margin: 1em auto;
}

.article-link spang{
  font-size: 1.875rem;
  line-height: .9375em;
}

.article-link {
  transition: all 0.5s;
  position: relative;
}

.article-link::before {
  border-radius: 2.1875rem;
  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.361);
  transition: all 0.3s;
}

.article-link:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}

.article-link::after {
  border-radius: 2.1875rem;
  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: .0625em solid var(--color-box-shadow);
  transform: scale(1.2,1.2);
}

.article-link:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/*SECTION-ABOUT*/
.section-about{
  background:var(--color-c);
  padding: 0 10%;
}   
.section-container{
  background: var(--color-d);
  box-shadow: var(--color-e) .25em  0em .3125em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  place-items: center;
  gap: 1em;
}

.section-about-image{
  box-shadow: var(--color-e) -0.3125em 0em .3125em;
  height: 100%;
}

.section-about-info{
  text-align: center;
 }

.section-about-info-header{
  padding: 1em 0;
}

.section-about-info-header-h1{
  color: var(--color-b);
  font-family: var(--type-title);
  font-size: clamp(1.5625rem, 2vw, 3.375rem);
  font-weight: 900;
  line-height: 1.3rem;
  letter-spacing: .0625rem;
  text-transform: uppercase;
}

.section-about-info-body{
  padding-right: 1em;
}

.section-about-info-body-p{
  color: var(--color-b);
  font-size: clamp(.9375rem, 1vw, 2.1875rem);
  font-style: italic;
  line-height: 1.5em;
}

/*SECTION-SERVICES*/
.section-services{
  text-align: center;
  padding: 5% 10%;
}

.section-services-title{
  color: var(--color-e);
  font-family: var(--type-title);
  font-size: clamp(1.5625rem, 2vw, 3.375rem);
  font-weight: 800;
  line-height: 1.3rem;
  letter-spacing: .0625rem;
  text-transform: uppercase;
  padding-bottom:2em;
}

/*SECTION-CONTACT*/
.section-contact{
  background: var(--color-c);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5% 10%;
}
.section-contact-div{
  letter-spacing:.0625rem;
}
.section-contact-title{
  color: var(--color-b);
  font-family: var(--type-title);
  font-size: clamp(1.125rem, 3vw, 2rem);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.75rem;
}
.section-contact-p{
  color: var(--color-d);
  font-size: clamp(.875rem, 1vw, 1.1875rem);
  font-weight: 700;
  padding-top: 1em;
}

/*SECTION-HELPER*/
.section-helper{
  padding-top: 5%;
}
.section-helper-title{
  text-align: center;
  color: var(--color-a);
  font-family: var(--type-title);
  font-size: clamp(1.125rem, 3vw, 2rem);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.75rem;
  letter-spacing: 1px;
}

/*SECTION-FAQ*/
.section-faq{
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 25%;
}
.section-faq-title{
  color: var(--color-a);
  font-family: var(--type-title);
  font-size: clamp(1.125rem, 3vw, 2rem);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.75rem;
  letter-spacing: .0625em;
}
.accordion li{
  list-style: none; 
  padding: .625em;
  border-radius: .3125em;
  border-bottom: solid .125em var(--color-c);
  letter-spacing: .0625em;
}

.accordion li label{
  cursor: pointer; 
  color: var(--color-d);
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-family: var(--type-title);
  font-weight: 600;
  
  display: flex;
  align-items: center;
  

  padding: .625em;
}

label::before{
  content:'+';
  margin-right: .625em;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 600;
}

input[type="radio"]{
  display: none;
} 

.accordion .content{
  color: var(--color-d);
  padding:0 .625em;
  line-height: 1.5em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
  max-height: 25em;
  padding: .625em .625em 1.25em;
}
.accordion input[type="radio"]:checked + label::before{
  content:'-';
  font-size: clamp(1.5rem, 1.5vw, 1.25rem);
  font-weight: 700;
  transition: all ease 1s;
}

/*SECTION-TESTIMONIAL*/
.section-testimonials{
  padding: 10% 5%;
  background-color: var(--color-f);
}

.section-testimonial-header{
  text-transform: uppercase;
  text-align: center;
  padding: 1em;;
}
.section-testimonial-subtitle{
  color: var(--color-d);
  font-size: clamp(.875rem, 2vw, 1.25rem);
  padding-bottom: 1em;
}
.section-testimonial-title{
  color: var(--color-a);
  font-family: var(--type-title);
  font-size: clamp(1.125rem, 3vw, 2rem);
  font-weight: 700;
  line-height: 1.75em;
  letter-spacing: .0625em;
}

.section-testimonial-container{
  display: flex;
  overflow-y: auto;
  width: 100%;
}


.testimonial-content{
  background-color: var(--color-b);
  border: 1px solid var(--color-c);
  border-radius: .625em;
  box-shadow: 1px 1px 5px var(--color-c);
  margin: 1em;
  width: 100%;
}
.testimonial-content .testimonial-content-article{
  width: clamp(300px, 2vw, 500px);
  object-fit: cover;
}

.section-testimonial-container::-webkit-scrollbar{
  width: 25px;
}
.section-testimonial-container::-webkit-scrollbar-button:horizontal:start:decrement{
  background:  url('../../public/avatar/left-circle.svg') no-repeat center center;
}
.section-testimonial-container::-webkit-scrollbar-button:horizontal:end:increment{
  background:  url('../../public/avatar/right-circle.svg') no-repeat center center;
}

.section-testimonial-container::-webkit-scrollbar-track{
  background: var(--color-b);
  border-radius: 100px;
}
.section-testimonial-container::-webkit-scrollbar-thumb{
  background: linear-gradient(to right, 
    var(--color-c), var(--color-f), var(--color-b),
    var(--color-b),var(--color-f),var(--color-c));
  border-radius: 100px;
  border: 2px solid var(--color-b);
}


.testimonial-content-article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-content-article-header{
  padding: 1.5em;
}
.testimonial-content-article-header-img{
  width: 50px;
}
.testimonial-content-article-section{
  letter-spacing: 1px;
  padding: 0 1.25em;
  color: var(--color-d);
  font-size: clamp(.875rem, 1vw, 17px);
}

.testimonial-content-article-footer{
  padding: 1em 0;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.testimonial-content-article-footer-img{
  width: 50px;
  border-top: solid 1px var(--color-c);
  border-radius:50%;
}
.testimonial-content-article-footer-div{
  font-family: var(--type-title);
  text-transform: uppercase;
}
.testimonial-content-article-footer-div-h3{
  color: var(--color-e);
  font-size: clamp(.875rem, 1vw, 15px);
  font-weight: 700;
}
.testimonial-content-article-footer-div-h4{
  color: var(--color-d);
  font-size: clamp(11px, 1vw, 13px);
}