main{}
/*section-hero*/
.hero{
  background-position: center;
  background-size: cover;
  color: var(--color-b);
  opacity: 0.93;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  
  width: 100%;
  max-width: 100%;
  
  height: 100vh;
  position: relative;
  padding: 5%;
}

.hero__content{
  width: 50%;
}

.hero__name{
  text-transform: capitalize;
  font-size: clamp(.8125rem, 1vw, .9375rem);
}

.hero__title{  
  font-family: var(--type-title);
  font-size: clamp(2rem, 7vw, 17rem);
  font-weight: 900;
  text-transform: uppercase;
}

.hero__span{
  font-size: clamp(1.5rem, 5vw, 10rem);
  font-family: var(--type-title);
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.hero__text{
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  font-size: clamp(.9375rem, 1.2vw, 1.5rem);
  letter-spacing: .0625rem;
  padding: 1em;
  margin: 2em 0;
}

.hero__button{
  border: .125em solid var(--color-b);
  border-radius: 2.1875em;
  color: var(--color-f4);
  cursor: pointer;
  font-family: var(--type-title);
  font-size: clamp(.875rem, 1.1vw, 1.25rem);
  font-weight: 700;

  letter-spacing: .0625rem;
  text-transform: uppercase;
  left: 30%;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  
  padding: .5em 0;
  margin-top: 1em;
  max-width: 10.9375em;

}

.hero__button spang{
  font-size: 1.875rem;
  line-height: .9375em;
}

.btn-animation {
  border-radius: 2.1875em;

  transition: all 0.5s;
  position: relative;
}

.btn-animation::before {
  border-radius: 2.1875em;

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.183);
  transition: all 0.3s;
}

.btn-animation:hover::before {
  border-radius: 2.1875em;

  opacity: 0 ;
  transform: scale(0.5,0.5);
}

.btn-animation::after {
  border-radius: 2.1875em;

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: .0625em solid rgba(255, 255, 255, 0.594);
  transform: scale(1.2,1.2);
}

.btn-animation:hover::after {
  opacity: 0.33;
  transform: scale(1, 1);
}

.hero__span-quote{
  font-size: 20px;
}

.hero__content-img{
  height: 70vh;
}

.hero__img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 90% 10%;
}

/*section-intro*/
.intro{
  padding: 5%;
}
.intro__container{
  display: flex;
  gap: 1em;
}

.intro__content{
  width: 31%;
}
.intro__content-text{
  width: 70%;
}

.intro__img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 98% 10%;
}

.intro__text{
  color: var(--color-f4);
  font-size: clamp(20px, 3vw, 5rem);
}

.information{
  padding-top: 1em;
}
.information__name{
  text-transform: capitalize;
  color: var(--color-f4);
  padding-bottom: 1em;
  font-size: clamp(.8125rem, 1vw, .9375rem);
}

.information__ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  place-items: center;
  gap: 10px;

  text-align: center;
  width:100%;
}

.article{
  border: solid 2px #191818bc;
  background: #191818bc;
  border-radius: 15px;
  padding: 1em;
  width: 16.25rem;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.article:hover{
  scale: 1.09;
}

.article__header{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.article__img{
  width:40px;
  background: var(--color-f8);
  padding: 5px;
  border-radius: 8px;
}

.article__title{
  font-size: clamp(.9375rem, 1vw, 1.125rem);
  color: var(--color-f4);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .0625rem;
}

.article__text{
  color: var(--color-f7);
  padding-top: 0.55em;
  letter-spacing: .0625rem;
  font-size: clamp(.875rem, 1vw, 1.1875rem);
}

/*SECTION-SERVICES*/
.services{
  border-bottom: 1px solid white;
  
  padding: 5%;
}

.services__title{
  color: var(--color-f4);
  font-family: var(--type-title);
  font-size: clamp(14px, 1vw, 18px);
  line-height: 1.3rem;
  letter-spacing: .0625rem;
  text-transform: capitalize;
  padding-bottom:2em;
}

.service-wrap{
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  
}
.service-card{
  display: grid;
  flex:none;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  
  gap: 1em;
  
  
}
.service-card__container{
  background: #191818bc;
  border-radius: 15px;
  overflow: hidden;
  
  transition-duration: .3s;
  transition-timing-function: ease-out;
  
  position: relative;
  width: 100%;
  height: 35vh;
}
.service-card__container:first-child{
  grid-column-start: 1;
  grid-column-end: 3;  
}


.service-card__card-content{
  width: 100%;
  height: 100%;
  
}
.service-card__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 42%;
  
  opacity: .5;
}

.service-card__data{
  
  color: var(--color-f4);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  
  position: absolute;
  
  width: 100%;
  height: 100%;

  text-align: center;
}
.service-card__title{
	font-family: var(--type-title);
	font-size: clamp(16px, 1vw, 80px);
	font-weight: 800;
	letter-spacing:1px;
	text-transform: uppercase;
}

.service-card__button{
	font-size: clamp(.875rem, 1vw, 1rem);
  text-transform: capitalize;
  margin-top: 1em;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}
.service-card__span{
  margin: 0 1em;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.service-card__container:hover{
  scale: 1.04;
  opacity: 0.8;
}
.service-card__button:hover{
  font-size: 19px;
  font-weight: 700;
  
}
.service-card__span:hover{
  font-size: 25px;
  margin:0 .25em;
}

/*SECTION-HELPERS*/
.section-helper{
  padding: 5%;
}
.section-helper__title{
  color: var(--color-f4);
  font-family: var(--type-title);
  font-size: clamp(14px, 1vw, 18px);
  line-height: 1.3rem;
  letter-spacing: .0625rem;
  text-transform: capitalize;
  padding-bottom:2em;
}
.section-helper__wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  max-width: 1000px;
}
.section-helper__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* place-items: center; */
  gap: 15px;

  width: 100%;
}
.section-helper__content{
  background: #191818bc;
  border-radius:15px;
  overflow: hidden;

  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.section-helper__img{
  object-fit: contain;
}
.section-helper__content:hover{
  scale: 1.08;
}
/*SECTION-CONTACT*/
.section-contact{
  background: var(--color-c);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5% 10%;
}
.section-contact-div{
  letter-spacing:.0625rem;
}
.section-contact-title{
  color: var(--color-b);
  font-family: var(--type-title);
  font-size: clamp(1.125rem, 3vw, 2rem);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.75rem;
}
.section-contact-p{
  color: var(--color-d);
  font-size: clamp(.875rem, 1vw, 1.1875rem);
  font-weight: 700;
  padding-top: 1em;
}


/*SECTION-FAQ*/
.section-faq{
  padding: 0 5%;
  color: var(--color-f4);
}
.section-faq__title{
  color: var(--color-f4);
  font-family: var(--type-title);
  font-size: clamp(14px, 1vw, 18px);
  line-height: 1.3rem;
  letter-spacing: .0625rem;
  text-transform: capitalize;
  padding-bottom: 2em;
}


.section-faq .section-faq__tab{
  position: relative;
  padding: 0 20px 20px;
  overflow: hidden;
  
}
.section-faq__tab li{
  background: #191818bc;
  border-radius: 15px;
  display: flex;
  flex-direction:column;
  gap: 1em;
  margin-top: 1em;
}
.section-faq .section-faq__tab input{
  appearance: none;
}

.section-faq .section-faq__tab label{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.section-faq .section-faq__tab label::after{
  content: "+";
  position: absolute;
  right: 5%;
  font-size: 2rem;
  color: var(--color-f4);
  transition: transform 1s;
}

.section-faq .section-faq__tab:hover label::after{
  color: var(--color-f4);
  
}

.section-faq .section-faq__tab input:checked ~ label::after{
  transform: rotate(135deg);
}

.section-faq .section-faq__tab label h2{
  position: relative;
  padding-left: 5%;
  font-weight: 500;
  
  z-index: 2;
}

.section-faq .section-faq__tab .section-faq__content{
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}

.section-faq .section-faq__tab input:checked ~ .section-faq__content{
  max-height: 100vh;
}

.section-faq .section-faq__tab .section-faq__content p{
  position: relative;
  padding-left: 5%;
  padding-right:5%;
  padding-bottom: 2%;
  color: var(--color-f4);
  z-index: 2;
} 

/*SECTION-TESTIMONIAL*/
.section-testimonials{
  padding: 5%;
}

.section-testimonial__header{}

.section-testimonial__title{
  color: var(--color-f4);
  font-family: var(--type-title);
  font-size: clamp(14px, 1vw, 18px);
  line-height: 1.3rem;
  letter-spacing: .0625rem;
  text-transform: capitalize;
  padding-bottom: 2em;
}

.section-testimonial__container{
  display: flex;
  overflow-y: auto;
  width: 100%;
}


.section-testimonial__content{
  color: var(--color-f4);
  background-color: var(--color-f6);
  border: 1px solid var(--color-f6);
  border-radius: .625em;
  margin: 1em;
  width: 100%;
}
.section-testimonial__content .section-testimonial__content-article{
  width: clamp(300px, 2vw, 500px);
  object-fit: cover;
}

.section-testimonial__container::-webkit-scrollbar{
  width: 25px;
}
.section-testimonial__container::-webkit-scrollbar-button:horizontal:start:decrement{
  background:  url('../../public/avatar/left-circle.svg') no-repeat center center;
}
.section-testimonial__container::-webkit-scrollbar-button:horizontal:end:increment{
  background:  url('../../public/avatar/right-circle.svg') no-repeat center center;
}

.section-testimonial__container::-webkit-scrollbar-track{
  background: var(--color-b);
  border-radius: 100px;
}
.section-testimonial__container::-webkit-scrollbar-thumb{
  background: linear-gradient(to right, 
    var(--color-f5), var(--color-f6), var(--color-f8),
    var(--color-f8),var(--color-f6),var(--color-f5));
  border-radius: 100px;
  border: 2px solid var(--color-b);
}


.section-testimonial__content-article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-testimonial__content-header{
  padding: 1.5em;
}
.section-testimonial__content-img{
  width: 50px;
}
.section-testimonial__content-section{
  letter-spacing: 1px;
  padding: 0 1.25em;
  /* color: var(--color-d); */
  font-size: clamp(.875rem, 1vw, 17px);
}

.section-testimonial__content-footer{
  padding: 1em 0;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.section-testimonial__content-footer-img{
  width: 50px;
  border: solid 1px var(--color-f4);
  border-radius:50%;
}
.section-testimonial__content-footer-div{
  font-family: var(--type-title);
  text-transform: uppercase;
}
.section-testimonial__content-footer-h3{
  /* color: var(--color-e); */
  font-size: clamp(.875rem, 1vw, 15px);
  font-weight: 700;
}
.section-testimonial__content-footer-h4{
  color: var(--color-f7);
  font-size: clamp(11px, 1vw, 13px);
}