/*FRAGMENTS*/
.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .3125em;
}
.logo-img{
  width: 4.25em;
}
.logo-img--fullName{
  width: 5.25em;
}


.rrss{
  display: flex;
  flex-direction:row;
  justify-content: start;
  align-items: center;
  gap:1em;
}
.rrss-li{
  width: 1.875em;
  height:1.875em;
}
.rrss-li-a{
  border-radius:1.5625em;
}
.rrss-li-a svg{
  width: 100%;
  height: 100%;
}
.rrss-li-a::hover {
  fill: rgb(242, 68, 68);
}


/*HEADBOARD*/
.header{
  background-color: var(--color-logo-dark);
  box-shadow: 0 .125rem .625rem 0 rgba(0,0,0,.4), 0 .125rem .3125rem 0 rgba(0,0,0,.2); 
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  
  position: sticky;
  top: 0;
  left:0;
  padding: 0.5em 5%;
  z-index: 1;
}

.header-menu{
  display: none;
}
.header-menu-svg{ 
}
.header-ul{
  color: var(--color-light-gray);
  font-family: var(--tipo-principal1);
  font-weight: 600;
  font-size: .9375rem;

  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  gap:2em;

  padding:0 1em;
}
.header-ul-li{
  text-transform:uppercase;
  letter-spacing: 0.0625em;
}

/*MAIN PAGE*/
.main{

}
/*MAIN-Ssection-portada*/
.section-front{
  color: var(--color-light-gray);
  background: linear-gradient(rgba(26, 15, 15, 0), #ffffff44), url("./assets/img-content/Private-security.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100vh;
  padding: 0;
}

.front-h2{  
  font-weight:900;
  font-size:2.5rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  padding: .5em 0;
}
.front-button{
  cursor: pointer;
  background-color:var(--color-dark-tomato);
  padding: .45em;
  text-transform: uppercase;
  color: var(--color-light-gray);
  font-weight: 600;
  font-size: 1.15rem;
}


/*MAIN-section-legend*/
.section-legend{
  background: linear-gradient(#ffffff44,rgba(183, 167, 151, 0.541));
  color: rgb(56, 48, 40);
  font-size: 18px;
  font-weight: 800;
 
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 1em;

  padding: 1.5em;

  height: 40vh;
} 
.section-legend-text{
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0.15em 0;
}
/*MAIN-section-about*/
.section-about{
  background:linear-gradient(rgba(183, 167, 151, 0.541) ,rgba(183, 167, 151, 0.79));
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;

  width: 100%;
  height: 70vh;
  padding: 0 5%;
}   

.section-about-image{
  background: url(./assets/img-content/about-model-1.jpg) no-repeat;
  border-radius: .3125rem;
  box-shadow: -0.605em .605em 1em var(--color-box-shadow);
  width: 100vw;
  height: 57vh;
}

.section-about-info{
  width: 90vw;
 }
.section-about-info-header{
  text-transform: uppercase;
}

.section-about-info-header-span{
  font-size: .875rem; 
  font-style: italic;
}
.section-about-info-header-h1{
  color: var(--color-text-title);
  font-family: var(--tipo-principal1);
  font-size: 3.5rem;
  font-weight: 900;

  letter-spacing: .125rem;
  padding: 0.5em 0;
}

.section-about-info-body{
  color: var(--color-text-paragraph);
  font-size: 1rem;
  font-weight: 500;
}
.section-about-info-body-p{
  letter-spacing: .0625em;
  padding-bottom: 0.5em;
}

.section-about-info-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
}

.about-info-section-button{
  background-color: var(--color-dark-tomato);
  color: var(--color-light-gray);
  font-size: .875rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  width: 10em;
  padding: 0.5em;
}


/*MAIN-section-services*/
.section-services{
  padding: 1em;
}
.section-services-header{
  background-color:antiquewhite;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-transform: uppercase;
  gap:1em;
  padding: 1em 0;
}
.section-header-title{
  font-size: 2rem;
  font-weight:800;
}
.section-services-cards{ 
  background-color: rgb(0, 0, 0);
}
.section-cards-image{}
.section-cards-title{}
.section-cards-description{}
.section-cards-button{}

/*FOOTER*/
.footer{
  font-family: var(--tipo-principal1);
  background-color: var(--color-logo-dark);
  color: var(--color-light-gray);

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:1em;
  
  padding: 1.5em 0;
  
}
.footer-content{
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
  gap: 1em;

  padding: 1em;
}

.footer-address{
  font-size: .9375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.footer-p{
  letter-spacing: .0625rem;
}

.footer-line{
  background-color: var(--color-light-tomato);
  width: 100%;
  height:.0625rem;
}

.footer-legend{
  font-size: .875rem;
  letter-spacing: .125rem;
}


/*PAGE-ABOUT*/
.page-about{
}

.page-about-header{
  color: var(--color-text-image);
  background-image: url(https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-size:cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 3em 2em;

  height: 100vh;
}
.page-about-header-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 1em 0;
}
.page-about-header-title{
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: .0938rem;
  text-transform: uppercase;
  padding-top: 0.5em;
}
.page-about-header-text{
  font-family:var(--font-family-phrase);
  font-size: 1.125rem;
  font-style: italic;
  text-align: center;
  width: 80%;
  padding: 2em 0;
}
.page-about-section-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding:2em 3em;
}
.page-about-section-intro-h2{
  color: var(--color-text-title);
  font-size: 4rem;
  font-weight: 800;
  text-align:center;
  text-transform: uppercase;
  padding: 1em 0;
}
.page-about-section-intro-div{
  color: var(--color-text-paragraph);
  display: grid;
  grid-template-columns: auto 10px auto;
  gap: 1em;
  width: 100%;
}
.page-about-section-intro-div-bar{
  background-color: rgb(235, 229, 220);
  border-radius: 10px;
  width: 5px;
  height: 100%;
}
.page-about-section-intro-div-group-p{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  
}
.page-about-section-intro-div-p{
  letter-spacing: 1px;
}

.page-about-section-mission{
  background: linear-gradient(rgba(255, 255, 255, 0.79), rgba(183, 167, 151, 0.79));
  display:grid;
  grid-template-columns: 50% 50%; 
  justify-content:center;
  align-items:center;
  gap:1em;
  padding: 0 2em;
}
.page-about-section-missionVision{
  background: linear-gradient(rgba(183, 167, 151, 0.79), rgba(255, 255, 255, 0.79));
  display:grid;
  grid-template-columns: 50% 50%; 
  justify-content:center;
  align-items:center;
  gap:1em;
  padding: 2em;
}
.page-about-section-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-about-section-div-h3{
  color: var(--color-text-paragraph-context);
  font-family:var(--second-type);
  font-size:4rem;
  font-weight:700;
  text-transform:uppercase;

  padding: 0.75em 0;
}
.page-about-section-div-p{
  color: var(--color-text-paragraph);
  padding:0.5em;
  letter-spacing: 1px;
}
.page-about-section-img{
  border-radius: .3125em;
  box-shadow: -0.605em .605em 1em var(--color-box-shadow);
  
  width:100%;
  height: 70%;
}

.page-about-section-phrase{
  background-color: rgba(183, 167, 151, 0.79);
  color: var(--color-text-paragraph-card);
  display:grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items:center;
  gap:0.5em;

  padding: 2em;
}
.page-about-section-phrase-div{

}
.page-about-section-phrase-h2 span{
  font-size: 1.7rem;
  font-weight: 700;
  font-family: var(--font-family-phrase);
  padding: 0 0.25em;
}
.page-about-section-phrase-h2{

  font-family: var(--second-type);
  font-style:italic;
  font-size:1.5rem;
  letter-spacing: 1px;
  width:100%;
  height: 100%;
  padding: 1em 0;
  
}
.page-about-section-phrase-p{
  font-size: .875rem;
  text-transform: capitalize;
  text-align:end;
  letter-spacing: 1px;
}
.page-about-section-phrase-img{
  border-radius: .3125em;
  box-shadow: -0.605em .605em 1em var(--color-box-shadow);
  width:100%;
  height:200px;
}

.page-about-section-partners{
  padding-top: 1em;
  padding-bottom: 2em;

}
.page-about-section-partners-h3{
  font-family:var(--second-type);
  color: var(--color-text-paragraph-context);
  font-size:4rem;
  font-weight:700;
  text-transform:uppercase;
  text-align:center;
  padding: 1em 0;

}


.page-about-section-div-partners{
  width: 100%;
  overflow: hidden;
}

.fragment-logo-scrollingd-ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
  animation: scrolling 25s linear infinite;
}
.fragment-logo-scrollingd-ul-li{
  padding: 1em 0;
  width: 250px;
  flex-shrink: 0;
}
.fragment-logo-scrollingd-ul-li-img{
  width: 100%;
}
@keyframes scrolling {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
  }
}