/*FRAGMENTS*/
.logo{
  width: 14.5em;
}
.logo-img{
}


.rrss{
  display: flex;
  flex-direction:row;
  justify-content: start;
  align-items: center;
  gap:1em;
}
.rrss-li{
  width: 1.875em;
  height:1.875em;
}
.rrss-li-a{
  border-radius:1.5625em;
}
.rrss-li-a svg{
  width: 100%;
  height: 100%;
}
.rrss-li-a::hover {
  fill: #f24444;
}


/*HEADBOARD*/
.header{
  background-color: var(--color-dark);
  box-shadow: 0 .125rem .625rem 0 rgba(0,0,0,.4), 0 .125rem .3125rem 0 rgba(0,0,0,.2); 
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  position: fixed;
  padding: 0.5em 0;
  z-index: 1;
  width: 100vw;
}

.header-menu{
  display: none;
}
.header-menu-svg{ 
}
.header-ul{
  font-family: var(--tipo-principal1);

  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  gap:2em;

  padding:0 1em;
}
.header-ul-li{
  color: var(--color-light-gray);
  font-weight: 600;
  text-transform:uppercase;
  letter-spacing: 0.0625em;
}

/*MAIN PAGE*/
.main{}
/*MAIN-Ssection-portada*/
.section-front{
  color: var(--color-light-gray);
  background-image: url("./assets/img-content/Private-security.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100vh;
  padding:25% 0;
}

.front-div{
  color: var(--color-dark-tomato);
  top: 25%;
  left: auto;
  right: 25%;
  bottom: auto;
  text-align: center;
  padding: .5em 0;
  position: absolute;
}
.front-h2{  
  font-weight:bolder;
  font-size:3rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  padding: .5em 0;
}
.front-button{
  cursor: pointer;
  background-color:var(--color-dark-tomato);
  padding: .45em;
  text-transform: uppercase;
  color: var(--color-light-gray);
  font-weight: 600;
  font-size: 1.15rem;
}
.section-img-2{
  width: 25vw;
  padding-right: 1em;
}

/*MAIN-section-legend*/
.section-legend{
  color: var(--color-light-gray);
  background-color: var(--color-dark-coffee);
  font-size: .9375rem;
  font-weight: 800;
 
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 1em;

  padding: 1.5em;
  width: 100vw;
  height: 25vh;
} 
.section-legend-text{
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0.15em 0;
}
/*MAIN-section-about*/
.section-about{
  background-color: rgb(235, 229, 220);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  height: 61vh;
}   

.section-about-div-image{
  background: url(./assets/img-content/about-model-1.jpg) no-repeat;
  width: 50%;
  height: 100%;
  padding: 0;
}

.section-about-info{
  width: 60vw;
  padding: 0;
}
.about-info-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding:1em 0; 
}

.info-header-span{
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.5rem;
  padding-bottom: 1em;
}
.info-header-h1{
  letter-spacing: .125rem;
  font-size: 2rem;
  font-family: var(--tipo-principal1);
  font-weight: 800;
}

.about-info-section{
  font-family: .8125rem;
  padding: 0 1em;
}
.info-section-p{
  letter-spacing: .0625em;

}
.about-info-section-button{
  background-color: var(--color-dark-tomato);
  color: var(--color-light-gray);
  font-size: .875rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  width: 10em;
  padding: 0.5em;
}
.about-info-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}


/*MAIN-section-services*/
.section-services{
  padding: 1em;
}
.section-services-header{
  background-color:antiquewhite;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-transform: uppercase;
  gap:1em;
  padding: 1em 0;
}
.section-header-title{
  font-size: 2rem;
  font-weight:800;
}
.section-services-cards{ 
  background-color: rgb(0, 0, 0);
}
.section-cards-image{}
.section-cards-title{}
.section-cards-description{}
.section-cards-button{}

/*FOOTER*/
.footer{
  font-family: var(--tipo-principal1);
  background-color: var(--color-dark);
  color: var(--color-light-gray);

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:1em;
  
  padding: 1.5em 0;
  width: 100vw;
}
.footer-content{
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
  gap: 1em;

  padding: 1em;
}

.footer-address{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.footer-p{
  letter-spacing: .0625rem;
}

.footer-line{
  background-color: var(--color-light-tomato);
  width: 100vw;
  height:.0625rem;
}

.footer-legend{
  font-size: .875rem;
  letter-spacing: .125rem;
}


/*PAGE-ABOUT*/
.main-about{
  padding: 5% 0;
  width: 100vw;
}

.main-about-header{
  color: var(--color-light-gray);
  color: white;
  background-image: url(https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-size:cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 3em 2em;

  height: 100vh;
  width: 100vw;
}
.main-about-header-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 1em 0;
}
.main-about-header-title{
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: .0938rem;
  text-transform: uppercase;
  padding-top: 0.5em;
}
.main-about-header-text{
  font-family:var(--second-type);
  font-size: 1.125rem;
  font-style: italic;
  text-align: center;
  width: 80%;
  padding: 2em 0;
}

.main-about-section-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding:2em 3em;
}

.main-about-section-intro-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.main-about-section-intro-div-bar{
  background-color: rgb(235, 229, 220);
  border-radius: 10px;
  width: 25px;
  height: 35vh;
}

.main-about-section-intro-div-p{
  letter-spacing: 2px;
}
.main-about-intro-h2{
  color: rgb(56, 48, 40);
  font-size: 4rem;
  font-weight: 800;
  text-align:center;
  text-transform: uppercase;
  padding-top: 1.5em;
  padding-bottom:0.5em;

}
.main-about-section-mission{
  background: linear-gradient(rgba(255, 255, 255, 0.79), rgba(183, 167, 151, 0.79));
  display:grid;
  grid-template-columns: 50% 50%; 
  justify-content:center;
  align-items:center;
  gap:1em;
  width: 100vw;
  padding: 2em;
}
.main-about-section-missionVision{
  background: linear-gradient(rgba(183, 167, 151, 0.79), rgba(255, 255, 255, 0.79));
  display:grid;
  grid-template-columns: 50% 50%; 
  justify-content:center;
  align-items:center;
  gap:1em;
  width: 100vw;
  padding: 2em;
}
.main-about-section-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-about-section-div-h3{
  color: rgb(56, 48, 40);
  font-family:var(--second-type);
  font-size:4rem;
  font-weight:700;
  text-transform:uppercase;

  padding: 0.75em 0;
}
.main-about-section-div-p{
  color: rgb(92, 80, 80);
  padding:0.5em;
  letter-spacing: 1px;
}
.main-about-section-img{
  border-radius: .3125em;
  box-shadow: -0.605em .605em 1em rgba(0,0,0,.2);
  
  width:100%;
  height: 70%;
}

.main-about-section-phrase{
  background-color: rgba(183, 167, 151, 0.79);
  color: rgb(56, 48, 40);
  display:grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items:center;
  gap:0.5em;

  padding: 2em;
}
.main-about-section-phrase-div{

}
.main-about-section-phrase-h2 span{
  font-size: 1.7rem;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0 0.25em;
}
.main-about-section-phrase-h2{

  font-family: var(--second-type);
  font-style:italic;
  font-size:1.5rem;
  letter-spacing: 1px;
  width:100%;
  height: 100%;
  padding: 1em 0;
  
}
.main-about-section-phrase-p{
  font-size: .875rem;
  text-transform: capitalize;
  text-align:end;
  letter-spacing: 1px;
}
.main-about-section-phrase-img{
  border-radius: .3125em;
  box-shadow: -0.605em .605em 1em rgba(0,0,0,.2);
  width:100%;
  height:200px;
}

.main-about-section-partners{
  background-color: pink;
}
.main-about-section-partners-h3{
  font-family:var(--second-type);
  font-size:4rem;
  font-weight:700;
  text-transform:uppercase;
  text-align:center;
  padding: 1em 0;

}
.main-about-section-div-partners{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.main-about-section-div-partners svg{
  background-color: violet;
  width: 3em;
  height: 3em;
}