/*FRAGMENTS*/
.logo-content {

}
.logo{
  background-color: var(--color-dark);
  font-size:1rem;
  display:flex;
  flex-direction:row;
  justify-content:start;
  align-items:center;
}
.logo-div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  color: var(--color-light-gray);
  font-weight: 700;
  text-transform:uppercase;
  padding: 0 0.5em;
}
.logo-img{
  width:6.25em;
  height:3.875rem;
}
.logo-h1{
  font-size:1.35rem;
  letter-spacing: 1px;
}

/*HEADBOARD*/
.header{
  width: 100vw;
  background-color: var(--color-dark);
  padding:1em 0;
}

.header-content{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
  gap:1em;
  padding: 0 2em;
}
.header-menu{
  display: none;
  background: var(--color-light-gray);
}
.header-menu-svg{
  color:var(--color-light-gray);
  
}
.header-ul{
  font-family: var(--tipo-principal1);
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  gap:2em;
}
.header-ul-li{
  color: var(--color-light-gray);
  font-weight: 700;
  text-transform:uppercase;
  letter-spacing: 0.0625em;
}

/*MAIN PAGE*/
.main{
  padding:  0;
}
.section-front{
  background-color: mediumorchid;
  background: url(./assets/img-content/111.jfif) no-repeat;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  width: 100vw;
  height: 100vh;
  padding-left:1em ;
}

.front-div{
  color: var(--color-light-gray);
  text-transform: uppercase;
  font-weight:bolder;
  font-size:4rem;
  padding: .5em 0;
}
.front-div-h2{
  padding: .5em 0;
}
.front-div-h2 .front-div-h2--space{
  letter-spacing: 1rem;
}

/*FOOTER*/
.footer{
  font-family: var(--tipo-principal1);
  line-height: 1.5;
  background-color: var(--color-dark);
  color: var(--color-light-gray);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:1em;
  padding: 1.5em 0;
  margin: 1em 0;
}
.footer-content{
  width: 100vw;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  gap: 1em;
  padding: 0 2em;
}
.footer-address{
  width:25%;
  font-size: 14px;
}
.footer-p{
  letter-spacing:0.0625em;
}
.footer-p-span{
  font-weight: 800;
  padding-right: 0.5em;
}
.footer-rrss{
  width: 25%;
  display: flex;
  flex-direction:row;
  justify-content: start;
  align-items: center;
  gap:1em;
}
.footer-rrss-li{
  width: 1.875em;
  height:1.875em;
}
.footer-rrss-li-a{
  text-align: center;
  border-radius:1.5625em;
  background-color:var(--color-light-gray);
}
.footer-rrss-li-a-img{
  width: 100%;
}
.footer-legend{
  font-size: 0.875rem;  
}
.footer-legend-p{
  letter-spacing:0.0625em;
}

.footer-line{
  width: 100vw;
  height: 0.625em;
  border-bottom:solid 0.0635em var(--color-light-gray);
}