@charset "UTF-8";
/*font family Lato*/

@font-face {
  font-family: Lato;
  src: url(/src/fonts/Lato/Lato-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/src/fonts/Lato/Lato-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url(/src/fonts/Lato/Lato-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/src/fonts/Lato/Lato-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url(/src/fonts/Lato/Lato-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/src/fonts/Lato/Lato-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url(/src/fonts/Lato/Lato-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/src/fonts/Lato/Lato-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url(/src/fonts/Lato/Lato-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/src/fonts/Lato/Lato-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}



/*font family Roboto*/
@font-face {
  font-family: Roboto;
  src: url(/src/fonts/Roboto/Roboto-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(/src/fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(/src/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(/src/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(/src/fonts/Roboto/Roboto-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(/src/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(/src/fonts/Roboto/Roboto-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(/src/fonts/Roboto/Roboto-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

:root {
  /*color*/
  --color-a:#00010D;
  --color-b:#F2F2F2;
  --color-c:#8C8C8C;
  --color-d:#404040;
  --color-e:#0D0D0D;
  --color-f:#BDBDBD;
  --color-2:#ffffff;
  
  --color-dark-coffee: #400106;
  --color-logo-dark: #000002;
  --color-dark-tomato: #e63f41;
  --color-light-tomato: #F24444;
  --color-light-gray: #F2F2F2;
  --color-text-image: rgba(255, 255, 255, 0.966);
  --color-text-title: rgb(46, 40, 34);
  --color-text-paragraph-context: rgb(56, 48, 40);
  --color-text-services-span: rgba(120, 114, 114, 0.97);
  --color-text-paragraph: rgb(44, 38, 32);
  --color-text-paragraph-card: rgb(56, 48, 40);
  --color-box-shadow: rgba(0,0,0,.2);
  
  /* Tipografía */
  --type-title: 'Roboto', sans-serif;
  --type-text: 'Lato', sans-serif;
}

/* Las adaptamos al modo oscuro */
/*@media (prefers-color-scheme: dark) {
  :root {
    --negro: #4e3838;
  }
}*/

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
    scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
/*
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}
*/
/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  background: var(--color-2);
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--type-text);
  color: var(--color-dark);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and ( max-width: 48rem ){
  /*HeadBoard*/
  .header-menu{
		display: flex;
	}
  .header-nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all 0.8s ease;

    width: 100%;
  }
  .header-nav.isActive{
    height: 50vh;
    opacity: 1;
  }
	.header-ul{
    flex-direction: column;
	}
	.header-ul-li{
    padding: 1em 0;
  }

  .section-front{
    width: 100%;
    background-size: cover;
  }

/*Main*/
  .section-front{
    align-items:center;
    width: 100%;
  }
  .section-front div {
    top: 25vh;
    width: 75vw;
    text-align: center;
  }
  .section-front-button{
    max-width: 100%;
  }

  .section-container{
    box-shadow:  -10px 0px 13px -7px #00000051,
                  10px 0px 13px -7px #00000051,
                  2px -3px 14px 17px rgba(68, 67, 67, 0.014);
  }
  .section-about-image{
    box-shadow: none;
  }
  .section-about-info-header{
    padding: 1.4em 0;
    margin-right: 1em;
  }
  .section-about-info-body{
    padding: 1em;
  }
  .section-contact{
    flex-direction: column;
    text-align: center;
  }
  .section-contact-title{
    padding-top: .9375rem;
  }

  .section-faq{
    /* height: 0; */
  }
  .section-testimonials{
    padding: 5% 1%;
  }
  .testimonial-content-article-section{
    padding: 0 10px;
  }
  .testimonial-content{
    margin: 10px;
  }
}